<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Impresora" value="Coloca_Aqui_El_Nombre_De_La_Impresora_entre_las_Comillas" /><!--Nombre de impresora-->
    <add key="FilePrint" value="label.zpl" /><!--Archivo de impresión de la aplicación (se genera automatico, se puede editar abriendo el archivo luego de generado)-->
    <add key="Server" value="http://172.54.0.14:8080/" /><!--Ip del servidor de tienda http://localhost:51509/ -->
    <add key="Departamento" value="00" /><!--Area o departamento del hablador 00: Todos, 05: Farmacia-->
    <add key="Suc" value="0104" />
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>